
.input_group{
    @layer flex border rounded-xl;
    position:relative;
}

.input_text{
    @layer w-full py-4 px-6 border rounded-xl bg-slate-50;
    @layer focus:outline-none border-none;
}

.button{
    @layer w-full bg-gradient-to-r from-blue-500 to-indigo-500 rounded-md;
    @layer py-3 text-gray-50 text-lg; 
}

.button:hover{
   @layer bg-gradient-to-r from-gray-50 to-gray-100 border-blue-500;
   @layer text-gray-700 border;
}

.button_custom{
    @layer w-full border py-3 flex justify-center gap-2 hover:bg-gray-200;
}

.input_text + *{
    color:#CBD5E1;
}

.input_text:focus+*{
    color:#6366f1;
}

.input_text:not([type=email]) - span:hover *{
    color:#6366f1;
    cursor: pointer;
}
